body {
	font-family: "Verdana","Arial",sans-serif !important;
}

footer{
	height: 150px;
	background-color: #ededed;
}

.ui-accordion-header-active {
	background-color: #b61e44;
	border: solid #b61e44;
}

.membership {
	font-weight: bold !important;
}

.spacing {
	margin-top: 10px;
}

#events {
	height: 76vh;
}
.event-list {
	height: 65vh;
	overflow-y: scroll;
}

#membership-info {
	height: 19vh;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style-type: none;
}

#about-us {
	height: 76vh;
}

#membership {
	height: 76vh;
}

#building-map {
	height: 69vh;
	overflow-y: scroll;
}

#faqs {
	height: 67vh;
	overflow-y: scroll;
}

#logo {
	height: 50px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}