{% extends "kiosk/index.html" %}

{% block title %} Hacker Dojo Kiosk: About Us {% endblock %}

{% block content %}
    <div class="main container-fluid">
    	<div class="row">
    		<div class="col-sm-9 col-sm-offset-1">
        <h1 class="text-center">About Us</h1>
        <h3>Who We Are</h3>
			<p>Hacker Dojo is open 24/7 to members.
			Hacker Dojo is a community of members who share a common love of creating wonderful things and understanding how the world works. <strong>You don't need to be a programmer to use/enjoy the space.</strong>  Think of us a college: the people that make up the Dojo are really amazing and what make it special.  Good chance you will meet your cofounder or the CEO of the next explosive startup at the Dojo. </p>
		<h3>What We Are</h3>
			<p>Hacker Dojo is a tech hub in the South Bay that is one part working space, one part events venue, and one part <a href='https://www.hackerdojo.com/Makerspace'>maker space</a>.  We are the perfect place to launch a software startup or build a robot.  We have both personal desk space (The Hive) and shared desk space for Hacker Dojo members.</p>
 
		<h3>Amenities</h3>
			<p>We love new members! Please feel free to stop by the Dojo and test-drive us for a day!</p>
			<h5><em>Member benefits:</em></h5> 
				<ul>
					<li>250 megabit bidirectional fiber internet coffee and kitchen</li>
					<li>outdoor seating & grilling</li> 
					<li>electronics lab</li>
					<li>library</li>
					<li>office spaces</li> 
					<li>event spaces</li>
					<li>phones from our <a href='https://www.hackerdojo.com/Mobile%20Device%20Lab'>mobile device lab</a></li>
					<li>gaming lounge, ping pong, and pool table</li> 
					<li>and more!</li>
				</ul>
			</div>
		</div>
    </div>
{% endblock %}