{% extends "kiosk/index.html" %}

{% block title %} Hacker Dojo Kiosk: FAQS {% endblock %}

{% block content %}
    <div class="main container-fluid">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <h2>About / History</h2>
        <div id="accordion1">
            <h3>What is Hacker Dojo?</h3>
            <div>Hacker Dojo is a <a href="/about">community</a> of engineers, artists, scientists, activists,
                entrepreneurs and other creative people centered around a co-working and social facility in Mountain
                View, CA. Feel free to drop by and see for yourself what the Dojo is all about. The best times to visit
                are when one of the many <a href="/events">events</a> is taking place.
            </div>
            <h3>What does the name "Hacker Dojo" mean? What is a hacker?</h3>
            <div>A hacker is anyone that is skilled at what he or she does; an artisan. A dojo is a place where one
                learns or trains.
            </div>
            <h3>What is the history of Hacker Dojo?</h3>
            <div>We've actually got a whole <a href="http://wiki.hackerdojo.com/w/page/27029118/History">history</a>
                page for that.
            </div>
            <h3>Who are the Members?</h3>
            <div>Quite various. See the <a href="http://signup.hackerdojo.com/memberlist">current list</a> on-line.
            </div>
        </div>
        <h2>Financials</h2>
        <div id="accordion2">
            <h3>How much does <a href="/membership">membership</a> cost?</h3>
            <div>The regular membership is $125/mo. The hardship rate is available for people who are currently full
                time students. We're a non-profit (and a start-up, like most of our members!) Without our members
                supporting us, we would cease to exist. We'd love to foster the spirit of entrepreneurship as much as we
                can, but the hardship rate is not for start-ups.
            </div>
            <h3>What are the benefits of membership?</h3>
            <div>If you are a creative, entrepreneurial spirit who loves what you do and wants to meet like-minded
                people in Silicon Valley, then Hacker Dojo is the place for you to meet kindred spirits. Hacker Dojo is
                the world's greatest coffeehouse, where the WiFi is fast, the coffee is free, and you can choose a
                chatty room or a quiet one. Read more about the Benefits of membership: <a
                        href="http://wiki.hackerdojo.com/Benefits-of-the-Dojo">Benefits of the Dojo</a></div>
            <h3>I'm going on vacation for a month. Can I put my membership on hold?</h3>
            <div>You can log into <a href="http://dashboard.hackerdojo.com/">dashboard.hackerdojo.com</a> and click on
                the my billing tab to pause membership. Although, we want people to feel like the are supporting our
                community, as opposed to a straightforward transaction of $195/mo for x,y,z privileges.
            </div>
            <h3>Is there a Refund Policy? Where is it?</h3>
            <div>Yes. The Dojo does <u>NOT</u> refund membership dues. That's because we already have monthly instead of
                annual dues. If that sounds heartless, read the exceptions in the full <a
                        href="http://wiki.hackerdojo.com/w/page/25382565/Refund-Policy">Refund Policy</a> .
            </div>
        </div>
        <h2>The Physical Space</h2>
        <div id="accordion3">
            <h3>When is the Dojo open?</h3>
            <div>We are open 24/7 to members-- immediately upon signing up you can come in and get your own RFID key.
                We're open M-F 8am-10pm for visitors. Consult the <a
                        href="http://wiki.hackerdojo.com/Hours-of-Operation">Hours of Operation</a> pages for up-to-date
                information.
            </div>
            <h3>What kind of work can be done at the Hacker Dojo?</h3>
            <div>Popular activities at the Dojo have included quiet coding, <a
                    href="http://wiki.hackerdojo.com/Classes">classes</a>, meet-ups, electronics fabrication, quilting,
                juggling, bread baking, parties, job fairs, robotics demonstrations. Any activity that can be safely
                done indoors and doesn't require heavy equipment or ventilation is encouraged.
            </div>
            <h3>Can I leave my [monitor, workstation, yoga mat, etc] at the Dojo?</h3>
            <div>In general you can bring what you like, but you need to take it home with you when you leave. The
                exception is if you want to bring something in for communal use, and you are confident that multiple
                other people will also find it useful.
            </div>
            <h3>Can I receive mail or packages at the Dojo?</h3>
            <div>This is discouraged, but not prohibited. It certainly is at-your-own-risk since we don't have staff to
                guard your packages.
            </div>
            <h3>How can I or my company host an event here?</h3>
            <div>Read the <a href="/events">events</a> rules.</div>
        </div>
        <h2>Other Hackerspaces</h2>
        <div id="accordion4">
            <h3>I want to start another Hacker Dojo. Can I?</h3>
            <div>We encourage you to make more hackerspaces wherever you are, but please respect our branding and
                trademarks.
            </div>
            <h3>Will you help me start another hackerspace?</h3>
            <div>Sorry, we don't really have the bandwidth to intensively mentor other spaces, though we do love
                answering questions and sharing our experiences with those interested in learning about them. You might
                find more hands-on-training, assistance with your 501c3 application, and guides to other logistics at
                the <a href="http://schoolfactory.org/">School Factory</a></div>
        </div>
        <h2>Paperwork and Logistics</h2>
        <div id="accordion5">
            <h3>Can Hacker Dojo write me a lease for my H1-B requirements?</h3>
            <div>Sorry, the membership we offer is very different from a lease agreement. In particular, a lease
                provides dedicated space for a single party, something we do not provide.
            </div>
            <h3>Can I use pictures I took of Hacker Dojo in my book/on my website/in my newspaper?</h3>
            <div>Yes! So long as:
                <ul>
                    <li>You don't pretend to be us</li>
                    <li>The images are used in reference to actual Hacker Dojo or something actually happening here,
                        (not just as a splash of color on a web store about evil hackers, moon rabbits, or something
                        else random)
                    </li>
                    <li>Everybody in the picture was cool with you taking it and using it, and any projects photographed
                        were done so with the permission of their owners
                    </li>
                </ul>
                We love hearing about this stuff though, so if you do feature us, send us a link!
            </div>
            <h3>Is the Hacker Dojo Child-Proof?</h3>
            <div>NO</div>
        </div>
        <h2>MISC</h2>
        <div id="accordion6">
            <h3>Can you help me break into a website?</h3>
            <div>No, you are confusing the word "hacker" with "cracker". Hackers build things; crackers break them.
                Hacker Dojo does not condone/encourage nor in any way provide tools that might be used to
                compromise/hack into other websites.
            </div>
            <h3>Where are your logos and branding guidelines?</h3>
            <div><a href="http://wiki.hackerdojo.com/w/page/36903244/Logo%20and%20Branding">Here</a></div>
        </div>
    </div>
{% endblock %}