<!DOCTYPE html>
<html>
<head>
	<title>Hacker Dojo Kiosk</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container-fluid">
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">FAQs</a></li>
		  <li role="presentation"><a href="/events">Events</a></li>
		  <li role="presentation"><a href="#">Building Map</a></li>
		  <li role="presentation"><a href="#">About Us</a></li>
		</ul>
		<h1>Frequently Asked Questions</h1>
	</div>
</body>
</html>