{% extends "kiosk/index.html" %}

{% block title %} Hacker Dojo Kiosk: Membership {% endblock %}

{% block content %}
    <div class="main container-fluid ">
    	<div class="row">
    		<div class="col-sm-10 col-sm-offset-1">
		        <h1 class="text-center">Membership</h1>
					<p>Congratulations!  You are joining an awesome tech community! Members are the backbone of Hacker Dojo and without you there would not be an us.  Seriously, a bunch of us just <a target="_blank" href='http://wiki.hackerdojo.com/w/page/27029118/History'>got together in 2009 to lease a warehouse</a>, and we've been growing ever since.</p>
					<h5 class="membership text-center">Basic membership is $125 per month</h5>
					<h4>Member perks include:</h4>
					<ul>
						<li>Technical Social Collaboration: Talk, meet and <em><strong>learn</strong></em> from other members about technical subjects</li>
						<li>Space: ~<strong>10,000/sqft</strong> of work space: offices, cubicles, shared desks, and meeting rooms</li>
						<li>Time: Open <strong>24 hours</strong> per day. Early birds &amp; Night owls welcome</li>
						<li>Lab: Well equipped electronics lab, for the <strong>'<a data-fancybox="gallery" href="https://www.hackerdojo.com/Makerspace">Maker</a>'</strong> in you</li>
						<li>Internet access: Highspeed WiFi on Gigabit fiber</li>
						<li>Kitchen: <strong>Free</strong> coffee, tea, water and sometimes beer</li>
						<li>Events: Attend most events <strong>free</strong> of charge</li>
						<li>Events: Create an event and invite whomever you wish <strong>no charge</strong></li>
						<li>Classes: Attend and participate in classes, <strong>no charge</strong></li>
						<li>Jobs: Plenty of startups looking for employees on our Jobs board</li>
						<li>AWS credits &amp; additional perks via <a data-fancybox="gallery" href="http://www.hackerdojo.com/Startup-Program">Startup Program</a></li>
					</ul>
					<div class="row">
						<div class="text-center">
							<a data-fancybox="gallery" href='http://signup.hackerdojo.com/?plan=newfull' class="btn btn-success">Sign Up Now for $125/month</a> OR <a data-fancybox="gallery" href='http://signup.hackerdojo.com/reactivate' class="btn btn-info">Reactivate Your Account</a>
						</div>
					</div>
				</div>
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<h4>Other Membership Types</h4>
							<ul class="well" id="membership-info">
								<li>
									<h5 class="membership">Weekly</h5>
									<p>Visiting for a week or want to give us a try first?</p>
									<a data-fancybox="gallery" href="http://signup.hackerdojo.com/?plan=weekly" class="btn btn-default">Sign up for $50/week</a></li>
								<li>
									<h5 class="membership">Dedicated Desk in the Hive</h5>
									<p>Your own dedicated desk at the Dojo. Comes with a comfy chair.</p>
									<a data-fancybox="gallery" href="http://goo.gl/forms/WsaAqFOwDo" class="btn btn-default">Sign up for $300/month</a>
								</li>
								<li>
									<h5 class="membership">Yearly Plan</h5>
									<p>Same benefits as the regular membership with a l33t discount.</p>
									<a data-fancybox="gallery" href="http://signup.hackerdojo.com/?plan=newyearly" class="btn btn-default">Sign up for $1,337/year</a>
								</li>
								<li>
									<h5 class="membership">Five Year Plan</h5>
									<p>$5,000. Same benefits as the regular membership with a larger discount.</p>
									<a data-fancybox="gallery" href="http://signup.hackerdojo.com/?plan=fiveyear" class="btn btn-default">Sign up for 5 Years in Advance ($5,000)</a>
								</li>
								<li>
									<h5 class="membership">Lite Member (beta)</h5>
									<p>A reduced rate for members who only use the space during 5:00pm - 9:00am and weekends.</p>
									<a data-fancybox="gallery" href="http://signup.hackerdojo.com/?plan=lite" class="btn btn-default">Sign up for $100/Month</a>
								</li>
								<li>
									<h5 class="membership">Hardship Rate</h5>
									<p>$60/month. For current full-time students who cannot afford the regular rate. Current proof of full time schedule and student ID card are required.</p>
									<a data-fancybox="gallery" href="https://www.hackerdojo.com/StudentRateApplication" class="btn btn-default">Apply here</a>
								</li>
							</ul>
						</div>
					</div>
			</div>
    </div>
{% endblock %}